
.sly-agent{
    width:100%;
    .li-icon {
        height:24px;
        width: 24px;
        background-repeat: no-repeat !important;
        background-size: 24px 24px !important;
    }
    .li-fun {
      height: auto !important;
      line-height: inherit !important;
      margin: 0 !important;
      padding: 7px 18px !important;
    }
    .slylinkCopy {
      padding-left: 22px;
    }
    .user-management-main {
      ul>li {
        display: flex;
      }
    }
    .user-management-header{
      width:100%;
      float: left;
      position: relative;
    }
    .invite-link-box{
      padding-bottom 15px
    }
    .invite-link{
      float right
    }
    .user-management-header-img{
      float: left;
      width:75px;
      height:75px;
      margin:38px 0 37px 20px;
    }
    .user-management-header-img2{
      float: right;
      height:122px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .user-management-header-message{
      float: left;
      margin:30px 0 0 30px;
      font-size: 12px;
      p{
        button{
          margin-left: 10px;
        }
      }
    }
    .user-management-header-message p:nth-of-type(1) span{
      line-height: 24px;
    }
    .user-management-header-message span:nth-of-type(2){
      margin-left:10px;
      cursor: pointer;
    }
    .user-management-header-message p:nth-of-type(2){
      margin:10px 0 15px 0;
      font-size: 22px;
      font-weight: normal;
    }
    .user-management-content{
      float: left;
      width:100%;
      height:700px;
      border-top-style: solid;
      // border-top-width: 10px;
      border-top: none;
      .title{
        padding: 20px;
        font-size: 14px;
        letter-spacing: 0;
        text-align: left;
        line-height: 16px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
      .title2{
        float: left;
        width: 100%;
        border-top-style: solid;
        box-sizing: border-box;
        /* border-top-width: 1px; */
      }
    }
    .user-management-main{
      width:100%;
      float: left;
    }
    .user-management-main ul li{
      width:100%;
      float: left;
    }
    .li-icon{
      float: left;
      margin:25px 20px !important;
    }
    .li-div{
      float: left;
      width:910px;
      height:79px;
      // box-sizing: border-box;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      font-size: 14px;
      position: relative;
    }
    .li-div:last-of-type(1){
      border-bottom-style: none;
      border-bottom-width: 0px;
    }
    .li-div p:nth-of-type(1){
       font-size: 14px;
       margin-top: 20px !important;
       line-height: 16px !important;
    }
    .li-div p:nth-of-type(1).switchBottom,.li-div p:nth-of-type(1).switchBottomChecked{
      margin-top: 0;
    }
    .li-div p:nth-of-type(1).none{
      margin-top:32px;
    }
    .li-div p:nth-of-type(2){
      font-size: 12px;
      line-height: 16px;
      padding-top: 11px;
    }
    .li-right{
      position: absolute;
      top:32px;
      right:21px;
      float: right;
      .common-button {
        top: -5px;
      }
    }
    .li-fun{
      float: right;
      font-size: 12px;
      cursor: pointer;
    }
    .li-fun-no{
      cursor: default;
    }
    .li-fun1{
      margin-left:20px;
    }
    .li-div p:nth-of-type(1).li-email{
      margin-top: 0;
      font-size: 12px;
      float: right;
      margin-right:22px;
      line-height: 18px;
    }
    .user-button{
      font-size: 12px;
      margin-top: -10px;
      .switchWrap{
        top: -15px;
      }
    }
    .alertTitle {
      margin-bottom: 15px;
    }
    .alertText {
      width: 285px;
      font-size: 12px;
      margin-bottom: 5px;
    }
    .alertErrorr {
      height: 36px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      line-height: 36px;
      .alertError-text {
        font-size: 12px;
      }
      .alertError-icon {
        float: right;
        margin-top: 12px;
      }
    }
    .alertBot {
      margin-bottom: 10px
    }
    .dialog-div{
      .dialog-div-module{
        padding: 18px 20px 15px 20px;
        border-bottom-style:solid;
        border-width:1px;
        p:nth-of-type(1){
          font-size: 12px;
          margin-bottom: 5px;
        }
        p:nth-of-type(2){
          font-size: 14px;
          span:nth-of-type(2){
            float: right;
          }
        }
        .img-div{
          width:180px;
          height:180px;
          margin-left: 90px;
          border-radius: 2px;
          img{
            width:160px;
            height:160px;
            margin:10px;
          }
        }
      }
    }
  }

@media (max-width: 960px) {
  .user-management {
    .user-management-header-img2 {
      display: none;
    }
    .li-div p:nth-of-type(2) {
      display: none;
    }
    .ul .li {
      display: flex;
    }
    .li-div {
      flex: 1;
      width: auto !important;
    }
    .li-title {
      margin-top: 0 !important;
      line-height: 80px !important;
    }
    .li-email {
      margin-right: 5px !important;
    }
    .li-icon {
      margin: 25px 10px !important;
    }
  }
}