coverage
vue.config.js
/app/view/webpack-plugins
/app/public/static
/app/view/src/assets/js/webworker-map.js
/app/view/iconTheme/
/app/view/imgTheme/
/app/view/vue/imgThemeCopy/
/app/view/vue/iconThemeCopy/
/config/
/app.js
/app/dist/
/node_modules/
/app/public/ex-index.html
/app/public/otc-index.html
/app/public/co-index.html
/app/view/src/utils/babel-promise.js
/app/utils/getDefaultLocale.js
/app/service/getLocales.js
