@font-face {
  font-family:Open Sans;
  src:url('../fonts/Open-Sans.ttf') format("truetype");
  font-weight:400;
  font-style:normal
  font-display:fallback

}
@font-face {
  font-family:robotoregular;
  src:url('../fonts/robotoregular.woff2') format("woff2"), url('../fonts/robotoregular.woff') format("woff");
  font-weight:400;
  font-style:normal
  font-display:fallback
}

@font-face {
  font-family: DINPro-Medium;
  src: url('../fonts/DINPro-Medium.otf');
}
@font-face {
  font-family: DINPro-Regular;
  src: url('../fonts/DINPro-Regular.otf');
}

@font-face {
  font-family: DINPro-Bold;
  src: url('../fonts/DINPro-Bold.otf');
}

html.en_US body {
  font:14px/1.25 robotoregular, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, serif;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased
}
html.zh_CN body {
  font:14px/1 Open Sans, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, monospace, serif;
  color:#e5ebf5
}
html.ko_KR body {
  font-family:Noto Sans KR, "\B098\B214\ACE0\B515", Nanum Gothic, NanumGothic, Apple SD Gothic Neo, "\B9D1\C740\ACE0\B515", Malgun Gothic, AppleGothic, "\B3CB\C6C0", Dotum, Helvetica Neue, Helvetica, Arial, monospace
}
html.ja_JP body {
  font-family:Noto Sans-JP, sans-serif, "\B098\B214\ACE0\B515", Nanum Gothic, NanumGothic, Apple SD Gothic Neo, "\B9D1\C740\ACE0\B515", Malgun Gothic, AppleGothic, "\B3CB\C6C0", Dotum, Helvetica Neue, Helvetica, Arial, monospace
}
html.ru_RU body {
  font-family:Open Sans, Helvetica, Arial, monospace
}
.en_US button, .en_US input {
  font:14px/1.25 robotoregular, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, serif
}
html.mn_MN body {
  font-family: Arial;
}

.medium{
  font-weight 600
}
.min-medium{
  font-weight 400
}
