@font-face {font-family: "icon";
  src: url('icon.eot?t=1658825333508'); /* IE9*/
  src: url('icon.eot?t=1658825333508#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("icon.woff2?t=1658825333508") format("woff2"),
  url("icon.woff?t=1658825333508") format("woff"),
  url('icon.ttf?t=1658825333508') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('icon.svg?t=1658825333508#icon') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before { content: "\ea01"; }
.icon-android:before { content: "\ea02"; }
.icon-apple:before { content: "\ea03"; }
.icon-control:before { content: "\ea04"; }
.icon-crown:before { content: "\ea05"; }
.icon-gear:before { content: "\ea06"; }
.icon-google-play:before { content: "\ea07"; }
.icon-invite:before { content: "\ea08"; }
.icon-log-out:before { content: "\ea09"; }
.icon-user:before { content: "\ea0a"; }
